{% extends "user_layout.html" %}
{% load static %} <!-- Load static files library -->

{% block head %}
        <!-- jQuery and jQuery UI -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
          integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock head %}

{% block content %}
{{ block.super }}
    <main class="flex justify-center items-center h-full flex-grow">
        <div class="flex flex-col items-center">
            <div id="qrcode"></div>
            <p class="font-bold">Booking Date and Time</p>
            <div class="flex items-center gap-2">
                <p class="font-bold text-5xl">{{ arriving_date }}</p>
                <div>
                    <p class="leading-tight font-bold">{{ arriving_month }}</p>
                    <p class="leading-tight">{{ arriving_day }}</p>
                </div>
            </div>
            <p>{{ arriving_time }} - {{ exiting_time }}</p>
            <p>Vehicle type: <span class="font-semibold">Bike</span></p>
            <p>Location name: <span>{{ parking_name }}, {{ location_name }}</span></p>
            <p class="mt-4">Has paid: {% if is_paid %}Yes {%else%} No{% endif %}</p>
            {%if not is_paid %}<p> <span class="font-semibold text-2xl">Rs {{ price }}</span></p>{%endif %}
            <div class="text-center text-xs mt-4">
                <p class="leading-tight">All sales are final. No-refunds or exchange is possible.</p>
                <p class="leading-tight">Please check the date and time of the booking.</p>
            </div>
            <p class="text-center mt-4">Enjoy your parking with parkbuddy!</p>
            <button class="mt-4 px-4 py-2 bg-green-500 text-white rounded-md" id="download-ticket">Download ticket</button>
        </div>
    </main>

    <script>
        $("#download-ticket").click(() => {
            $('header')[0].style.display = 'none';
            $("#download-ticket")[0].style.display = 'none';
            window.print();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
            integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <!-- For QR Code generation -->
    <script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), {
        text: window.location.href,
        width: 128,
        height: 128,
    });
    </script>
{% endblock content %}
