{% extends "user_layout.html" %}

{% block head %}
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
          integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock head %}

{% block content %}
{{ block.super }}

<p class="ml-4 mt-4 text-2xl font-semibold">Your Parking Spaces</p>

<p class="ml-4 mt-2 text-gray-600">Please select a parking space:</p>

<div class="px-16 py-8 flex flex-wrap gap-8">
  {% for parking_space in parking_spaces %}
    <a href="{% url 'edit_parking_space_view' id=parking_space.id %}" class="flex flex-col flex-wrap items-center gap-1">
      <img src="{{ parking_space.image1.url }}" class="w-20 h-20 object-cover" />
      <p>{{ parking_space.name }}</p>
    </a>
  {% endfor %}
</div>

{% endblock content %}
